#skribbltypo-update-popup,
#skribbltypo-join-popup {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--COLOR_PANEL_HI);
    color: var(--COLOR_CHAT_TEXT_BASE);
    padding: 16px;
    border-radius: 4px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    min-width: 300px;
}

#skribbltypo-join-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--COLOR_INPUT_BORDER);
    background-color: var(--COLOR_INPUT_BG);
    color: var(--COLOR_CHAT_TEXT_BASE);
}

#skribbltypo-update-btn,
#skribbltypo-close-btn,
#skribbltypo-join-btn,
#skribbltypo-join-cancel-btn {
    padding: 6px 12px;
    margin-top: 8px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
}

#skribbltypo-update-btn,
#skribbltypo-join-btn {
    background-color: var(--COLOR_BUTTON_SUBMIT_BG);
    color: var(--COLOR_BUTTON_SUBMIT_TEXT);
}

#skribbltypo-close-btn,
#skribbltypo-join-cancel-btn {
    background-color: var(--COLOR_BUTTON_DANGER_BG);
    color: var(--COLOR_BUTTON_DANGER_TEXT);
}

.popup-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}
